In [1]:
import pandas as pd
import numpy as np

In [2]:
user_ranking = pd.read_csv("user_ranking.csv")

In [3]:
user_ranking.head()

,Unnamed: 0,user_id,review_count,yelping_since,useful,fans,elite_count,compliment_count,months_since,final_score
0,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785
1,714383,JjXuiru1_ONzDkYVrHN0aw,999,2009-08-23,224710,977,7,188209,104,9.075318
2,58933,23J4vG9_xxxdnmi8CBX7Ng,1659,2004-10-12,49143,1222,13,22922,162,8.480747
3,431047,VHdY6oG2JPVNjihWhOooAQ,1837,2005-07-21,38872,1791,13,32124,153,8.463639
4,1177674,nkN_do3fJ9xekchVC-v68A,1327,2004-10-12,31788,1820,13,8800,162,8.376683

In [4]:
review_data = pd.read_csv("yelp_review.csv")

In [5]:
review_data.head(5)

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

In [129]:
#joining review file and user ranking file:
#changing useful in user_ranking.csv to useful count:
user_ranking = user_ranking.sort_values(['final_score'],ascending=False)
user_ranking.head()
#getting the top user:

user_1  = user_ranking.iloc[0:20,1]
user_1 = user_1[13]
print(user_1)
#user_1 = user_ranking[user_ranking['final_score'] == user_ranking['final_score'].max() ]
#user_1 = user_1.iloc[1,1]
#print(user_1)

m07sy7eLtOjVdZ8oN9JKag

In [21]:
business_data = pd.read_csv("yelp_business.csv")

In [130]:
#sorting by stars and 
rev = review_data[review_data['user_id'] == user_1]
print(len(rev))

71

In [9]:
ranked_rev = pd.read_csv("review_with_score.csv")

In [96]:
rev = ranked_rev[ranked_rev['user_id'] == user_1]

In [28]:
user_ids = []
for user in ranked_rev['user_id']:
    user = user.split("'")[1]
    user_ids.append(user)

ranked_rev['user_id'] = user_ids


user_ids = []
for user in ranked_rev['business_id']:
    user = user.split("'")[1]
    user_ids.append(user)

ranked_rev['business_id'] = user_ids

IndexError: list index out of range

In [131]:
rev = ranked_rev[ranked_rev['user_id'] == user_1]
print(len(rev))

71

In [97]:
rev.head(5)

,Unnamed: 0,text,useful,business_id,cool,review_id,date,stars,funny,user_id,sentiment_score
1650477,1650477,b'A fun hotel to stay at for a bachelor party....,5,eAc9Vd6loOgRQolMXQt6FA,5,b'20fTbiC7VoD8RqOgcaJgLg',b'2006-08-19',4,1,G5LXEaxhQMF_BVjNHkVr7g,10.0
1650478,1650478,"b""One of the better deals in the Bellagio, and...",2,CCRgGKhzxSpl38w7yhqKUw,0,b'wbSFz8b1FvzGAF7OxHX3-g',b'2006-08-21',4,0,G5LXEaxhQMF_BVjNHkVr7g,12.0
1650479,1650479,b'I didn\'t even know they served food here. T...,4,PaKG_CtfPbjWQUcdro81rw,2,b'KtuPuexs-FaRd8Asr-oeKw',b'2006-08-19',4,1,G5LXEaxhQMF_BVjNHkVr7g,-1.0
1650480,1650480,"b'A Las Vegas classic, great steaks, a nice re...",0,--9e1ONYQuAa-CB_Rrw7Tw,1,b'lgpSS6UsKYIvnQaw8JwHlQ',b'2005-04-27',5,0,G5LXEaxhQMF_BVjNHkVr7g,6.0
1650481,1650481,"b""This is probably my favorite bar/lounge in V...",6,SvHAczHxIJ00QlJ9ovQR8g,6,b'ioBa_dXObzd5JQZ76J4jlQ',b'2006-08-19',5,1,G5LXEaxhQMF_BVjNHkVr7g,7.0

In [132]:
rev = rev.sort_values(['stars','sentiment_score'],ascending=False)

In [133]:
rev_user1 = rev.iloc[0:10,:]

In [134]:
rev_user1.head()
print(len(rev_user1))

10

In [135]:

merged = pd.merge(rev_user1,business_data, on=['business_id'])

In [58]:
merged.head()

,Unnamed: 0,text,useful,business_id,cool,review_id,date,stars_x,funny,user_id,...,address,city,state,postal_code,latitude,longitude,stars_y,review_count,is_open,categories
0,1650428,"b'Let\'s play a variation of the ""meow"" game (...",18,uGupeWqih0yIcCg8anM1PA,20,b'h1_dD3csMkhXO95q706QuQ',b'2008-04-21',5,15,VHdY6oG2JPVNjihWhOooAQ,...,"""3325 South Las Vegas Boulevard""",Las Vegas,NV,89109,36.123942,-115.167753,4.0,2248,1,Event Planning & Services;Venues & Event Space...
1,1650435,b'I bought a supposedly comfortable pair of sh...,17,1xO2LvScpcMfl2BNm1aISg,19,b'Zbq1u_txXHU72si5mXAyYw',b'2008-07-01',5,7,VHdY6oG2JPVNjihWhOooAQ,...,"""3570 Las Vegas Blvd S""",Las Vegas,NV,89109,36.117087,-115.175336,4.5,565,1,Massage;Hair Salons;Day Spas;Beauty & Spas
2,1650441,"b'I\'m listening to Wendy Rene\'s ""After Laugh...",17,Cr4ipI-tr-R8Q0NilkWNkA,23,b'9XWOq-YuSz9zbQ5fPY4y7A',b'2008-05-09',5,15,VHdY6oG2JPVNjihWhOooAQ,...,"""Mandalay Bay Resort & Casino, 3950 Las Vegas ...",Las Vegas,NV,89119,36.093066,-115.177814,4.0,951,0,Restaurants;American (New);Bars;Lounges;French...
3,1650449,"b""Aw - I love this place and I'm excited to wr...",11,oxxcmHKPb7jqVP15zC0j5w,10,b'qgo2mZkZi1kM_1GuNo2JtA',b'2013-11-12',5,3,VHdY6oG2JPVNjihWhOooAQ,...,"""99 Alfred St""",Mount Lebanon,PA,15228,40.380669,-80.044134,3.5,6,1,Nutritionists;Health & Medical;Health Markets;...
4,1650438,"b""My bf often tells me to just leave off the m...",16,m1BL2XSBqnqP1qfmbrKmug,18,b'1P3OUpIvnop4BsgsztDEWQ',b'2008-05-02',5,12,VHdY6oG2JPVNjihWhOooAQ,...,"""Wynn Resort, 3131 Las Vegas Blvd S""",Las Vegas,NV,89109,36.126877,-115.165873,4.0,205,0,Sushi Bars;Restaurants;Japanese

In [136]:
merged.to_csv('top_users.csv',mode='a')